.todo-item {
    width: 100%;
    min-height: 70px;
    height: max-content;
    display: grid;
    grid-template-columns: 30px minmax(100px, 1fr) 30px;
    grid-template-rows: auto;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 1rem 1rem;
    //background-color: #FFF;
    border: 2px solid #505050;
    background: linear-gradient(45deg, #6BBD99, #AECFA4, #C4E8C2);
    border-radius: 4px;
    user-select: nones;

    &__checked {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 1px solid #dedede;
        cursor: pointer;
        input[type="checkbox"] {
            display: none;
            &:checked {
                & + .todo-item__icon-check{
                    color: #C4E8C2;
                    transform: scale(1);
                }
            }
        }
    }
    &__checked,
    &__title {
        align-self: center;
    }

    &__title {
        width: 100%;
        height: max-content;
        position: relative;
        font-size: .9rem;
        line-height: .9rem;
        color: #454545;
        &--completed {
            color: #dedede;
            text-decoration: line-through;
        }
    }

    &__icon {
        &-check {
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
            color: transparent;
            transform: scale(0);
        }
        &-trash {
            justify-self: center;
            align-self: center;
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
            transform: scale(0.95);
            color: #A72A0F;
            cursor: pointer;
            &:hover {
                transform: scale(1);
            }
        }
    }
}