<h1 class="text-center text-primary pt-4">TODO APP</h1>
<div class="todo">
    <div class="todo__wrapper">
        <div class="todo__create">
            <em (click)="markAllCompleted()" class="fas fa-chevron-down todo__create-icon"></em>
            <form (submit)="handleSubmitTodo($event)">
                <input type="text" placeholder="Insert you task" [formControl]="nameTodo">
            </form>
        </div>
        <div class="todo__list">
            <div *ngIf="data.length > 1; then listTodo else listTodoNotFound"></div>
        </div>
    </div>
    <div class="todo__footer">
       <!--  <p class="m-0">{{data.length}} items left</p> -->
       <p class="m-0">{{data.length}} items left</p>
        <div class="todo__filter">
            <button *ngFor="let filter of filters" (click)="handleClickFilter(filter)" 
                class="btn btn-link"
                [ngClass]="{ 'active': filter === filterSelect }"
            >
                {{filter}}
            </button>
        </div>
        <button (click)="clearComplet()" class="btn btn-link">Clear completed</button>
    </div>
</div>
<app-loading *ngIf="loading" />


<ng-template #listTodo>
    <app-todo-item *ngFor="let item of data | filter:filterSelect as filteredData"
         [todo]="item">
    </app-todo-item>
</ng-template>

<ng-template #listTodoNotFound>
    <app-todo-item *ngFor="let item of data | filter:filterSelect as filteredData"
         [todo]="item">
    </app-todo-item>
</ng-template>